<ion-header>
    <ion-navbar color="corDivida">
      <ion-title>Editar dívida de {{divida.nomeUsuarioDevedor}}</ion-title>
    </ion-navbar>
  </ion-header>
  
  
  <ion-content class="cor-background">
    <ion-card>
      <ion-card-header color="corDivida">
        Informações
      </ion-card-header>
      <ion-item>
        <ion-icon name='person' item-start color="corDivida"></ion-icon>
        <ion-input type="text" placeholder="Nome" [(ngModel)]="divida.nomeUsuarioEmprestador"></ion-input>
      </ion-item>
      <ion-item *ngIf="nomeVazio">
        <ion-icon name="information-circle" color="grey" item-start></ion-icon>
        <p class="erro">Digite o nome do emprestador.</p>
      </ion-item>
  
      <ion-item>
        <ion-icon name='person' item-start color="corDivida"></ion-icon>
        <ion-input type="text" placeholder="Usuario" [(ngModel)]="divida.usuarioEmprestador"></ion-input>
      </ion-item>
      <ion-item *ngIf="usuarioInvalido">
        <ion-icon name="information-circle" color="grey" item-start></ion-icon>
        <p class="erro">Usuário não encontrado.</p>
      </ion-item>
  
      <ion-item>
        <ion-icon name='cash' item-start color="corDivida"></ion-icon>
        <ion-input type="number" placeholder="Valor" [(ngModel)]="divida.valor"></ion-input>
      </ion-item>
      <ion-item *ngIf="valorInvalido">
        <ion-icon name="information-circle" color="grey" item-start></ion-icon>
        <p class="erro">O valor deverá ser maior que zero.</p>
      </ion-item>
      <ion-item *ngIf="valorVazio">
        <ion-icon name="information-circle" color="grey" item-start></ion-icon>
        <p class="erro">Digite o valor.</p>
      </ion-item>
  
      <ion-item>
        <ion-label>Data</ion-label>
        <ion-icon name='calendar' item-start color="corDivida"></ion-icon>
        <ion-datetime cancelText="Cancelar" doneText="Ok" min="2017" max="2020" displayFormat="MM/DD/YYYY" [(ngModel)]="divida.data"></ion-datetime>
      </ion-item>
      <ion-item *ngIf="dataVazia">
        <ion-icon name="information-circle" color="grey" item-start></ion-icon>
        <p class="erro">Selecione a data.</p>
      </ion-item>
  
      <ion-item>
        <ion-icon name='clipboard' item-start color="corDivida"></ion-icon>
        <ion-input type="text" [(ngModel)]="divida.descricao" placeholder="Descrição"></ion-input>
      </ion-item>
      <ion-item *ngIf="descricaoVazia">
        <ion-icon name="information-circle" color="grey" item-start></ion-icon>
        <p class="erro">Digite a descrição.</p>
      </ion-item>
  
  
    </ion-card>
  
    <ion-fab bottom right>
      <button ion-fab (click)="editaDivida(divida)" color="corDivida">
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-fab>
  
  </ion-content>
  