<ion-header>
  <ion-navbar color="corEmprestimo">
    <ion-title>Editar empréstimo para {{emprestimo.nomeUsuarioDevedor}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="cor-background">
  <ion-card>
    <ion-card-header color="corEmprestimo">
      Informações
    </ion-card-header>
    <ion-item>
      <ion-icon name='person' item-start color="corEmprestimo"></ion-icon>
      <ion-input type="text" [(ngModel)]="emprestimo.nomeUsuarioDevedor" placeholder="Nome"></ion-input>
    </ion-item>
    <ion-item *ngIf="nomeVazio">
      <ion-icon name="information-circle" color="grey" item-start></ion-icon>
      <p class="erro">Digite o nome do devedor.</p>
    </ion-item>
    <ion-item>
      <ion-icon name='person' item-start color="corEmprestimo"></ion-icon>
      <ion-input type="text" [(ngModel)]="emprestimo.usuarioDevedor" placeholder="Usuário"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-icon name='cash' item-start color="corEmprestimo"></ion-icon>
      <ion-input type="number" [(ngModel)]="emprestimo.valor" placeholder="Valor"></ion-input>
    </ion-item>
    <ion-item *ngIf="valorInvalido">
      <ion-icon name="information-circle" color="grey" item-start></ion-icon>
      <p class="erro">O valor deverá ser maior que zero.</p>
    </ion-item>
    <ion-item *ngIf="valorVazio">
      <ion-icon name="information-circle" color="grey" item-start></ion-icon>
      <p class="erro">Digite o valor.</p>
    </ion-item>

    <ion-item>
      <ion-label>Data</ion-label>
      <ion-icon name='calendar' item-start color="corEmprestimo"></ion-icon>
      <ion-datetime cancelText="Cancelar" doneText="Ok" min="2017" max="2020" displayFormat="DD/MM/YYYY" [(ngModel)]="emprestimo.data"></ion-datetime>
    </ion-item>
    <ion-item *ngIf="dataVazia">
      <ion-icon name="information-circle" color="grey" item-start></ion-icon>
      <p class="erro">Selecione a data.</p>
    </ion-item>

    <ion-item>
      <ion-icon name='clipboard' item-start color="corEmprestimo"></ion-icon>
      <ion-input type="text" [(ngModel)]="emprestimo.descricao" placeholder="Descrição"></ion-input>
    </ion-item>
    <ion-item *ngIf="descricaoVazia">
      <ion-icon name="information-circle" color="grey" item-start></ion-icon>
      <p class="erro">Digite a descrição.</p>
    </ion-item>

  </ion-card>

  <ion-fab bottom right>
    <button ion-fab (click)="editaEmprestimo(emprestimo)" color="corEmprestimo">
      <ion-icon name="checkmark"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
