<ion-header>
  <ion-navbar color="corPrimaria">
    <ion-title>Novo acordo</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="cor-background">
  <ion-card>
    <ion-card-header color="corPrimaria">
      Informações
    </ion-card-header>

    <ion-item>
      <ion-label>Data</ion-label>
      <ion-icon name='calendar' item-start color="corPrimaria"></ion-icon>
      <ion-datetime cancelText="Cancelar" doneText="Ok" min="2017" max="2020" displayFormat="DD/MM/YYYY" [(ngModel)]="acordo.data"></ion-datetime>
    </ion-item>
    <ion-item *ngIf="dataVazia">
      <ion-icon name="information-circle" color="grey" item-start></ion-icon>
      <p class="erro">Selecione a data.</p>
    </ion-item>

    <ion-item>
      <ion-label>Hora</ion-label>
      <ion-icon name='time' item-start color="corPrimaria"></ion-icon>
      <ion-datetime cancelText="Cancelar" doneText="Ok" displayFormat="HH:mm" [(ngModel)]="acordo.hora"></ion-datetime>
    </ion-item>
    <ion-item *ngIf="horaVazia">
      <ion-icon name="information-circle" color="grey" item-start></ion-icon>
      <p class="erro">Selecione a hora.</p>
    </ion-item>


    <ion-item>
      <ion-icon name='compass' item-start color="corPrimaria"></ion-icon>
      <ion-input type="text" [(ngModel)]="acordo.local" placeholder="Local"></ion-input>
    </ion-item>
    <ion-item *ngIf="localVazio">
      <ion-icon name="information-circle" color="grey" item-start></ion-icon>
      <p class="erro">Digite o local.</p>
    </ion-item>

    <ion-item>
      <ion-icon name='clipboard' item-start color="corPrimaria"></ion-icon>
      <ion-input type="text" [(ngModel)]="acordo.descricao" placeholder="Descrição"></ion-input>
    </ion-item>
    <ion-item *ngIf="descricaoVazia">
      <ion-icon name="information-circle" color="grey" item-start></ion-icon>
      <p class="erro">Digite a descrição.</p>
    </ion-item>

   
  </ion-card>

  <ion-fab bottom right>
    <button ion-fab (click)="adicionaAcordo()" color="corPrimaria">
      <ion-icon name="checkmark"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
